.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $logo-color;

  margin-right: 93px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $title-dark-theme-color;
}
